.page-app
    background: url('./img/bg_banner.png') no-repeat top center
    // background-size: 100% 500px

    @media screen and (max-width: 1200px)
        background: rgb(233, 244, 255)

    .lt-main
        padding: 100px 0 0

        @media screen and (max-width: 1200px)
            padding: 45px 0 0

        .content
            display: flex
            max-width: 1200px
            margin: 0 auto
            min-height: 400px

            @media screen and (max-width: 1200px)
                display: block

            .block
                flex: 1
                padding: 0 30px 30px
                width: 100%
                box-sizing: border-box

                @media screen and (max-width: 1200px)
                    padding: 0 10px

                .blockItem
                    margin: 0 0 30px

                    .blockTitle
                        display: flex
                        margin: 0 0 20px

                        @media screen and (max-width: 1200px)
                            justify-content: space-between

                        span
                            font-size: 24px
                            font-weight: bold
                            padding: 0 20px 0 0
                            height: 26px
                            line-height: @height

                            @media screen and (max-width: 1200px)
                                font-size: 16px

                        i
                            flex: 1
                            display: inline-block
                            position: relative

                            @media screen and (max-width: 1200px)
                                display: none

                            &:after
                                content: ' '
                                display: block
                                height: 2px
                                background: #E6E6E6
                                width: 100%
                                position: absolute
                                top: 50%
                                transform: translate(0, -50%)

                    .blockMain
                        background: #FFFFFF
                        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1)
                        border-radius: 4px
                        padding: 15px
                        width: 100%
                        box-sizing: border-box

                .blockAccount
                    position: relative

                    .blockTitle
                        position: absolute
                        top: 14px
                        left 30px

                        i
                            display: none

                        @media screen and (max-width: 1200px)
                            position: relative
                            top: 0
                            left 0

                    .blockMain
                        padding-top: 56px

                .table-responsive
                    width: 100%
                    overflow-x: auto

                    .table
                        width: 100%

                        thead
                            background: #F8F8F8
                            height: 40px
                            line-height: 40px

                            th
                                padding: 0 5px
                                white-space: nowrap
                                text-align: center

                        tbody
                            tr
                                border-bottom: 1px solid #F8F8F8

                                td
                                    padding: 15px 0
                                    white-space: nowrap
                                    text-align: center
