.percentLoop
    padding: 20px

    .main
        display: inline
        position: relative

    .loop-pie-line
        position: absolute
        width: 50%
        height: 100%
        top: 0
        overflow: hidden

    .loop-pie-l
        top: 0px
        left: 0px

    .loop-pie-r
        top: 0px
        -webkit-transform: rotate(180deg)
        right: 0px

    .loop-pie-c
        width: 200%
        height: 100%
        border: 15px solid transparent
        border-radius: 50%
        position: absolute
        box-sizing: border-box
        top: 0
        -webkit-transform: rotate(-45deg)

    .loop-pie-rm
        border-top: 15px solid #d2d4d8
        border-left: 15px solid #d2d4d8
        border-bottom: 15px solid #1e92d8
        border-right: 15px solid #1e92d8

    .loop-pie-lm
        border-top: 15px solid #d2d4d8
        border-left: 15px solid #d2d4d8
        border-bottom: 15px solid #1e92d8
        border-right: 15px solid #1e92d8

    .number
        position absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: #000

        .num
            font-size: 24px
            text-align: center
            @media screen and (max-width: 1200px)
                font-size: 18px

        .text
            font-size: 18px
            text-align: center
            @media screen and (max-width: 1200px)
                font-size: 16px
